<!doctype html> {% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="title icon" href="images/title-img.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style_dash.css' %}">
    <title>Socrates | Dashboard</title>
  </head>
  <body>
    
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container-fluid">
          <div class="row">
            <!-- sidebar -->
            <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
              <a href="#" class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border">Dashboard</a>
              <div class="bottom-border pb-3">
                <img src="images/admin.jpeg" width="50" class="rounded-circle mr-3">
                <a href="#" class="text-white">{{user.username}}</a>
              </div>
              <ul class="navbar-nav flex-column mt-4">
              <li class="nav-item"><a href="#" class="nav-link text-white  mb-2 current"><i class="fas fa-home text-light mr-3"></i>Profile</a></li>
                <li class="nav-item"><a href="#" data-toggle="modal" data-target="#addBlogModal" class="nav-link text-white  mb-2 sidebar-link"><i class="fas fa-user text-light mr-3"></i>Add Blogs</a></li>
                <li class="nav-item"><a href="/" class="nav-link text-white  mb-2 sidebar-link"><i class="fas fa-envelope text-light  mr-3"></i>Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white mb-2 sidebar-link" data-toggle="modal" data-target="#sign-out"><i class="fas fa-sign-out-alt mr-3 "></i>Logout</a></li>
                  
                <!-- <li class="nav-item"><a href="#" class="nav-link text-white  mb-2 sidebar-link"><i class="fas fa-shopping-cart text-light  mr-3"></i>News</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white  mb-2 sidebar-link"><i class="fas fa-chart-line text-light  mr-3"></i>Semster Marks</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white  mb-2 sidebar-link"><i class="fas fa-chart-bar text-light  mr-3"></i> Calender</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white  mb-2 sidebar-link"><i class="fas fa-table text-light  mr-3"></i>Time Table </a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white  mb-2 sidebar-link"><i class="fas fa-wrench text-light  mr-3"></i>Settings<a></li> -->
            
              </ul>
            </div>
            <!-- end of sidebar -->

            <!-- top-nav -->
            <!-- <div class="col-xl-10 col-lg-9 col-md-8 ml-auto bg-dark fixed-top top-navbar">
              <div class="row align-items-center">
                <div class="col-md-4">
                  <h4 class="text-light text-uppercase mb-0">Socrates</h4>
                </div>
                <div class="col-md-5">
                  
                </div>
                <div class="col-md-9">
                  <ul class="navbar-nav">
                    <</ul>
                </div>
              </div>
            </div> -->
            <!-- end of top-nav -->
          </div>
        </div>
      </div>
    </nav>
    <!-- end of navbar -->

 
<!-- Modal -->
<div class="modal fade" id="addBlogModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Blog</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action='addBlog' method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <div class="modal-body">
            <div class="row m-3">
                <input type="text" name="title" required class="form-control" placeholder="Enter Title" value="{{i.title}}">
            </div>
            <div class="row m-3">
                <div class="col-lg-6">
                    <input class="form-control-file" required name="image" placeholder="Upload Image" type="file" value="{{i.image}}">
                </div>
                <div class="col-lg-6">
                    <select class="custom-select" name="category" required>
                        {% for j in categoryPacket %}
                        <option value="{{j.id}}">{{j.name}}</option>
                        {% endfor %}
                    </select>
                </div>

            </div>
            <div class="row m-3">
                <textarea name="content" id="" class="form-control" required>{{i.content}}</textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        </form>
    </div>
  </div>
</div>

    <!-- modal -->
    <div class="modal fade" id="sign-out">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Want to leave?</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            Press logout to leave
            <a href="/">Home</a>
          </div>
          <div class="text-right m-3">
            <button type="button" class="btn btn-success" data-dismiss="modal">Stay Here</button>
            <a href="/accounts/logout"><button type="button" class="btn btn-danger">Logout</button></a>
          </div>
          
        </div>
      </div>
    </div>
    <!-- end of modal -->

    <!-- cards -->
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row justify-content-center mb-5">
                {% for i in gallery %}
              <div class="col-xl-4 col-sm-6 p-2">
                <div class="card card-common">
                    <div class="card-image-top">
                        <img src="/media/{{i.image}}" style="height:300px;" class="card-img-bottom d-block radius-image-full " alt="">
                    </div>
                  <div class="card-body">
                    <div class="row justify-content-center">
                      <!-- <i class="fas fa-shopping-cart text-warning"></i> -->
                      <div class="">
                        <h6 class="text-center" style="color:#1B2845;">{{i.title}}</h6>
                        <h4 class="text-center text-uppercase" style="color:#5899E2">{{i.category}}</h4>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-secondary">
                      <div class="row justify-content-center text-center">
                          <div class="mr-4">
                            <i class="fas fa-arrow-right  mr-2 text-warning"></i>
                            <span><a href="#" data-toggle="modal" data-target="#updateBlogModal{{i.id}}" style="text-decoration:none;">Update </a></span>
    
  
  <!-- Modal -->
  <div class="modal fade" id="updateBlogModal{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action='update/{{i.id}}' method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <div class="modal-body">
            <div class="row m-3">
                <input type="text" name="title" class="form-control" placeholder="Enter Title" required value="{{i.title}}">
            </div>
            <div class="row m-3">
                <div class="col-lg-6">
                    <input class="form-control-file" name="image" placeholder="Upload Image" required type="file" value="{{i.image}}">
                </div>
                <div class="col-lg-6">
                    <select class="custom-select" name="category" required>
                        {% for j in categoryPacket %}
                        <option value="{{j.id}}">{{j.name}}</option>
                        {% endfor %}
                    </select>
                </div>

            </div>
            <div class="row m-3">
                <textarea name="content" id="" required class="form-control">{{i.content}}</textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        </form>
      </div>
    </div>
  </div>
                          </div>
                          <div class="mr-3">
                            <i class="fas fa-arrow-right mr-2 text-warning"></i>
                            <span><a href="delete/{{i.id}}" style="text-decoration:none;ß">Delete</a></span>
                          </div>
                      </div>
                    
                  </div>
                </div>
              </div>
              {% endfor %}
              
              
            </div>
            <ul class="pagination justify-content-center">

              {% if gallery.has_previous %}
              <li class="page-item">
              <a class="page-link py-2 px-3" href="?page={{ gallery.previous_page_number }}">
                  <span>&laquo;</span>
              </a>
              </li>
              {% endif %}
              {% for num in gallery.paginator.page_range %}
                  {% if gallery.number == num %}
                      <li class="page-item active"><span class="page-link active">{{ num }}</span></li>
                  {% elif num > gallery.number|add:'-3' and num < gallery.number|add:'3' %}
                      <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                  {% endif %}
              {% endfor %}
              {% if gallery.has_next %}
                  <li class="page-item"><a class="page-link py-2 px-3" href="?page={{ gallery.next_page_number }}">
                      <span>&raquo;</span>
                  </a></li>

              {% endif %}
              </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- end of cards -->

    
            

    <!-- footer -->
    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row border-top pt-3">
              <div class="col-lg-6 text-center">
                <ul class="list-inline">
                  <li class="list-inline-item mr-2">
                    <a href="#" class="text-dark">SPSU</a>
                  </li>
                  <li class="list-inline-item mr-2">
                    <a href="#" class="text-dark">About</a>
                  </li>
                  <li class="list-inline-item mr-2">
                    <a href="#" class="text-dark">Support</a>
                  </li>
                  <li class="list-inline-item mr-2">
                    <a href="#" class="text-dark">Blog</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6 text-center">
                <h5>Designed By Aniket vyas</h5>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- end of footer -->
   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="script.js"></script>
    {% for i in messages %} 
    <script>
        alert('{{i}}')
    </script>
    {% endfor %}
  </body>
</html>






