{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Blog | Home</title>

    <link href="//fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Template CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link rel="stylesheet" href="{% static 'css/style-starter.css' %}">
</head>

<body>
    <!-- header -->
    <header class="-header">
        <div class="container">
            <!--/nav-->
            <nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-sm-3 px-0">
                <a class="navbar-brand" href="/">
                    <span class="fa fa-newspaper-o"></span> NewsBlog</a>
                <!-- if logo is image enable this   
						<a class="navbar-brand" href="#index.html">
							<img src="{% static 'image-path" alt="Your logo" title="Your logo" style="height:35px;" />
						</a> -->


                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<!-- <span class="navbar-toggler-icon"></span> -->
				<span class="fa fa-bars"></span>
				<!-- <span class="fa fa-times"></span> -->
			</button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <nav class="mx-auto">
                        <div class="search-bar">
                            <form class="search">
                                <input type="search" class="search__input" name="search" placeholder="Discover news, articles and more" onload="equalWidth()" required>
                                <span class="fa fa-search search__icon"></span>
                            </form>
                        </div>
                    </nav>
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>


                        {% if user.is_authenticated %}
                        <li class="nav-item @@contact__active">
                            <a class="nav-link" href="accounts/logout">Logout, {{user.username}}</a>
                        </li>
                        {% else %}
                        <li class="nav-item @@contact__active">
                            <a class="nav-link" data-toggle="modal" data-target="#loginModal" href="#">Login</a>
                        </li>
                        {% endif %}
                        <li class="nav-item @@contact__active">
                            <a class="nav-link" href="contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
							<input type="checkbox" id="checkbox">
							<div class="mode-container">
								<i class="gg-sun"></i>
								<i class="gg-moon"></i>
							</div>
						</label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
        </div>
        </nav>
        <!--//nav-->

    </header>
    <!-- //header -->
    <!-- /homeblock1-->

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
                </div>
                <form action="accounts/login" method="POST"> {% csrf_token %}
                    <div class="modal-body">
                        <div class="m-2">
                            <input type="text" name="username" placeholder="Email" class="form-control"></div>
                        <div class="m-2">
                            <input type="password" name="password" placeholder="password" class="form-control"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- <section class="-homeblock1 py-sm-5 py-4">
        <div class="container py-md-4">
            <div class="grids-area-hny main-cont-wthree-fea row">
                <div class="col-lg-3 col-6 grids-feature">
                    <a href="beauty.html">
                        <div class="area-box">
                            <span class="fa fa-bath"></span>
                            <h4 class="title-head">Beauty</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-6 grids-feature">
                    <a href="fashion.html">
                        <div class="area-box">
                            <span class="fa fa-female"></span>
                            <h4 class="title-head">Fashion and style</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-6 grids-feature mt-lg-0 mt-md-4 mt-3">
                    <a href="#food">
                        <div class="area-box">
                            <span class="fa fa-cutlery"></span>
                            <h4 class="title-head">Food and wellness</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-6 grids-feature mt-lg-0 mt-md-4 mt-3">
                    <a href="#lifsetyle">
                        <div class="area-box">
                            <span class="fa fa-pie-chart"></span>
                            <h4 class="title-head">Lifestyle</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section> -->
    <!-- //homeblock1-->

    <section class="-testimonials mt-xl-4" id="testimonials">
        <!-- main-slider -->
        <div class="testimonials pt-2 pb-5">
            <div class="container pb-lg-5">
                <div class="owl-testimonial owl-carousel owl-theme mb-md-0 mb-sm-5 mb-4">
                    {% for i in sliderContent %}
                    <div class="item">
                        <div class="row slider-info">
                            <div class="col-lg-8 message-info align-self">
                                <span class="label-blue mb-sm-4 mb-3">{{i.blog.category}}</span>
                                <h3 class="title-big mb-4">{{i.blog.title}}
                                </h3>
                                <div class="message-box">
                                    <p class="message">{{i.blog.content|safe}}</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-8 img-circle mt-lg-0 mt-4">
                                <img src="/media/{{i.blog.image}}" height="400px" width="350px" class=" radius-image-full" alt="client image">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- /main-slider -->
    </section>
    <div class="-homeblock2 py-5">
        <div class="container py-lg-5 py-md-4">
            <!-- block -->
            <div class="row">
                <div class="col-lg-8">
                    <h3 class="section-title-left mb-4"> Blog of the Day </h3>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 item">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="#blog-single.html">
                                        <img class="card-img-bottom d-block radius-image-full" src="/media/{{dailyBlog1.image}}" style="height:300px" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body blog-details">
                                    <span class="label-blue">{{dailyBlog1.category}}</span>
                                    <a href="/blog/{{dailyBlog1.id}}" class="blog-desc">{{dailyBlog1.title}}
                                    </a>
                                    <!-- <p style="width:200px; height:90px; overflow: hidden;">{{dailyBlog1.content|safe}}.</p> -->
                                    <div class="author align-items-center mt-3 mb-1">
                                        <img src="/media/{{i.image}}" alt="" class="img-fluid rounded-circle" />
                                        <ul class="blog-meta">
                                            <li>
                                                <a href="author.html">{{dailyBlog1.submitedBy}}</a> </a>
                                            </li>
                                            <li class="meta-item blog-lesson">
                                                <span class="meta-value"> {{dailyBlog1.dateUploaded}} </span>. <span class="meta-value ml-2"><span class="fa fa-clock-o"></span> 1 min</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 item">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="#blog-single.html">
                                        <img class="card-img-bottom d-block radius-image-full" src="/media/{{dailyBlog2.image}}" style="height:300px;" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body blog-details">
                                    <span class="label-blue">{{dailyBlog2.category}}</span>
                                    <a href="/blog/{{dailyBlog1.id}}" class="blog-desc">{{dailyBlog2.title}}
                                    </a>
                                    <!-- <p style=" width:300px;height:90px;overflow:hidden;">{{dailyBlog2.content|safe}}.</p> -->
                                    <div class="author align-items-center mt-3 mb-1">
                                        <img src="/media/{{dailyBlog1.image}}" alt="" class="img-fluid rounded-circle" />
                                        <ul class="blog-meta">
                                            <li>
                                                <a href="author.html">{{dailyBlog2.submitedBy}}</a> </a>
                                            </li>
                                            <li class="meta-item blog-lesson">
                                                <span class="meta-value"> {{dailyBlog2.dateUploaded}} </span>. <span class="meta-value ml-2"><span class="fa fa-clock-o"></span> 1 min</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 left-right bg-clr-white p-3">
                        <h3 class="section-title-left align-self pl-2 mb-sm-0 mb-3">Advertise with us </h3>
                        <a class="btn btn-style btn-primary" href="#url">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-4 trending mt-lg-0 mt-5">
                    <div class="topics">
                        <h3 class="section-title-left mb-4"> Topics</h3>
                        {% for i in categories %}
                        <a href="category/{{i.name}}" class="topics-list mt-3">
                            <div class="list1">
                                <span class="fa fa-bath"></span>
                                <h4 class="text-capitalize">{{i.name}}</h4>
                            </div>
                        </a>
                        {% endfor %}

                    </div>
                    <div class="sponsers mt-5">
                        <h3 class="section-title-left mb-4"> Our sponsers</h3>
                        <a href="#ad-banner"><img src="{% static 'images/ad.jpg' %}" alt="" class="img-fluid radius-image-full" /></a>
                        <a href="#advertise" class="text-center d-block text-uppercase">Advertise with us </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="-homeblock3 py-5">
        <div class="container py-lg-5 py-md-4">
            <h3 class="section-title-left mb-4"> Top Pick's of this month </h3>
            <div class="row top-pics">
                {% for i in monthContent %}
                <div class="col-lg-4 col-md-6">
                    <div class="top-pic1" style="background-image:url('/media/{{i.blog.image}}')">
                        <div class="card-body blog-details">
                            <a href="/blog/{{i.id}}" class="blog-desc">{{i.blog.title}}
                        </a>
                            <div class="author align-items-center">
                                <img src="{% static 'images/a1.jpg' %}" alt="" class="img-fluid rounded-circle" />
                                <ul class="blog-meta">
                                    <li>
                                        <a href="author.html">{{i.blog.submitedBy}}</a> </a>
                                    </li>
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value"> {{i.blog.dateUploaded}} </span>. <span class="meta-value ml-2">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
              
            </div>
        </div>
    </div>
    <!-- <div class="-homeblock2 py-5">
        <div class="container py-lg-5 py-md-4">
    
            <div class="left-right">
                <h3 class="section-title-left mb-sm-4 mb-2"> Fashion and style</h3>
                <a href="fashiom.html" class="more btn btn-small mb-sm-0 mb-4">View more</a>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 item">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#blog-single.html">
                                <img class="card-img-bottom d-block radius-image-full" src="{% static 'images/fashion1.jpg' %}" alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="#blog-single.html" class="blog-desc">An easy Guide to buying Denim & My favourite styles
                        </a>
                            <div class="author align-items-center">
                                <img src="{% static 'images/a1.jpg' %}" alt="" class="img-fluid rounded-circle" />
                                <ul class="blog-meta">
                                    <li>
                                        <a href="author.html">Isabella ava</a> </a>
                                    </li>
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value"> July 13, 2020 </span>. <span class="meta-value ml-2"><span class="fa fa-clock-o"></span> 1 min</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#blog-single.html">
                                <img class="card-img-bottom d-block radius-image-full" src="{% static 'images/fashion2.jpg' %}" alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="#blog-single.html" class="blog-desc">The Satin Skirt & How to Wear it all year round fashion
                        </a>
                            <div class="author align-items-center">
                                <img src="{% static 'images/a2.jpg' %}" alt="" class="img-fluid rounded-circle" />
                                <ul class="blog-meta">
                                    <li>
                                        <a href="author.html">Charlotte mia</a> </a>
                                    </li>
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value"> July 13, 2020 </span>. <span class="meta-value ml-2"><span class="fa fa-clock-o"></span> 1 min</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#blog-single.html">
                                <img class="card-img-bottom d-block radius-image-full" src="{% static 'images/fashion3.jpg' %}" alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="#blog-single.html" class="blog-desc">What I’ll be Wearing this Party Season & the Festive edit
                        </a>
                            <div class="author align-items-center">
                                <img src="{% static 'images/a3.jpg' %}" alt="" class="img-fluid rounded-circle" />
                                <ul class="blog-meta">
                                    <li>
                                        <a href="author.html">Elizabeth</a> </a>
                                    </li>
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value"> July 13, 2020 </span>. <span class="meta-value ml-2"><span class="fa fa-clock-o"></span> 1 min</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="-homeblock2 -homeblock5 py-5">
        <div class="container py-lg-5 py-md-4">

            <div class="left-right">
                <h3 class="section-title-left mb-sm-4 mb-2"> Beauty</h3>
                <a href="beauty.html" class="more btn btn-small mb-sm-0 mb-4">View more</a>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="bg-clr-white hover-box">
                        <div class="row">
                            <div class="col-sm-5 position-relative">
                                <a href="#blog-single.html" class="image-mobile">
                                    <img class="card-img-bottom d-block radius-image-full" src="{% static 'images/beauty1.jpg' %}" alt="Card image cap">
                                </a>
                            </div>
                            <div class="col-sm-7 card-body blog-details align-self">
                                <a href="#blog-single.html" class="blog-desc">Natural Spa - Where you feel unique and special
                            </a>
                                <div class="author align-items-center">
                                    <img src="{% static 'images/a1.jpg' %}" alt="" class="img-fluid rounded-circle" />
                                    <ul class="blog-meta">
                                        <li>
                                            <a href="author.html">Isabella ava</a> </a>
                                        </li>
                                        <li class="meta-item blog-lesson">
                                            <span class="meta-value"> July 13, 2020 </span>. <span class="meta-value ml-2"><span class="fa fa-clock-o"></span> 1 min</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-4">
                    <div class="bg-clr-white hover-box">
                        <div class="row">
                            <div class="col-sm-5 position-relative">
                                <a href="#blog-single.html" class="image-mobile">
                                    <img class="card-img-bottom d-block radius-image-full" src="{% static 'images/beauty2.jpg' %}" alt="Card image cap">
                                </a>
                            </div>
                            <div class="col-sm-7 card-body blog-details align-self">
                                <a href="#blog-single.html" class="blog-desc">How to get Beautiful coloring Highlights this weak
                            </a>
                                <div class="author align-items-center">
                                    <img src="{% static 'images/a2.jpg' %}" alt="" class="img-fluid rounded-circle" />
                                    <ul class="blog-meta">
                                        <li>
                                            <a href="author.html">Charlotte mia</a> </a>
                                        </li>
                                        <li class="meta-item blog-lesson">
                                            <span class="meta-value"> July 13, 2020 </span>. <span class="meta-value ml-2"><span class="fa fa-clock-o"></span> 1 min</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4">
                    <div class="bg-clr-white hover-box">
                        <div class="row">
                            <div class="col-sm-5 position-relative">
                                <a href="#blog-single.html" class="image-mobile">
                                    <img class="card-img-bottom d-block radius-image-full" src="{% static 'images/beauty3.jpg' %}" alt="Card image cap">
                                </a>
                            </div>
                            <div class="col-sm-7 card-body blog-details align-self">
                                <a href="#blog-single.html" class="blog-desc">New Hair Styles can look fabulous and shiny
                            </a>
                                <div class="author align-items-center">
                                    <img src="{% static 'images/a3.jpg' %}" alt="" class="img-fluid rounded-circle" />
                                    <ul class="blog-meta">
                                        <li>
                                            <a href="author.html">Elizabeth</a> </a>
                                        </li>
                                        <li class="meta-item blog-lesson">
                                            <span class="meta-value"> July 13, 2020 </span>. <span class="meta-value ml-2"><span class="fa fa-clock-o"></span> 1 min</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4">
                    <div class="bg-clr-white hover-box">
                        <div class="row">
                            <div class="col-sm-5 position-relative">
                                <a href="#blog-single.html" class="image-mobile">
                                    <img class="card-img-bottom d-block radius-image-full" src="{% static 'images/beauty4.jpg' %}" alt="Card image cap">
                                </a>
                            </div>
                            <div class="col-sm-7 card-body blog-details align-self">
                                <a href="#blog-single.html" class="blog-desc">How our dreams should shine and spray beauty to us.</a>
                                <div class="author align-items-center">
                                    <img src="{% static 'images/a1.jpg' %}" alt="" class="img-fluid rounded-circle" />
                                    <ul class="blog-meta">
                                        <li>
                                            <a href="author.html">Isabella ava</a> </a>
                                        </li>
                                        <li class="meta-item blog-lesson">
                                            <span class="meta-value"> July 13, 2020 </span>. <span class="meta-value ml-2"><span class="fa fa-clock-o"></span> 1 min</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="-homeblock2 -homeblock6 py-5">
        <div class="container-fluid px-sm-5 py-lg-5 py-md-4">
            <!-- block -->
            <h3 class="section-title-left mb-4"> Trending Now</h3>
            <div class="row">
                <div class="owl-carousel two owl-theme mb-md-0 mb-sm-5 mb-4">
                    {% for i in trendingContent %}
                    <div class="m-2">
                        <div class="bg-clr-white hover-box" style="height:300px;">
                            <div class="row">
                                <div class="col-sm-6 position-relative">
                                    <a href="/blog/{{i.id}}">
                                        <img class="card-img-bottom d-block radius-image-full" style="height: 300px;" src="/media/{{i.image}}" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="col-sm-6 card-body blog-details align-self">
                                    <span class="label-blue">{{i.category}}</span>
                                    <a href="#blog-single.html" class="blog-desc">{{i.title}}
                            </a>
                                    <!-- <p class="limited-content">{{i.content|safe}}</p> -->
                                    <div class="author align-items-center mt-3">
                                        <img src="{% static 'images/a2.jpg' %}" alt="" class="img-fluid rounded-circle" />
                                        <ul class="blog-meta">
                                            <li>
                                                <a href="author.html">{{i.submitedBy}}</a> </a>
                                            </li>
                                            <li class="meta-item blog-lesson">
                                                <span class="meta-value"> {{i.dateUploaded}} </span>. <span class="meta-value ml-2"><span class="fa fa-clock-o"></span> 1 min</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>{% endfor %}
                    <!-- <div class="col-lg-6">
                        <div class="bg-clr-white hover-box">
                            <div class="row">
                                <div class="col-sm-6 position-relative">
                                    <a href="/blog/{{i.id}}">
                                        <img class="card-img-bottom d-block radius-image-full" style="height: 300px;" src="/media/{{i.image}}" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="col-sm-6 card-body blog-details align-self">
                                    <span class="label-blue">{{i.category}}</span>
                                    <a href="/blog/{{i.id}}" class="blog-desc">{{i.title}}
                            </a>
                                    <p class="limited-content">{{i.content|safe}}</p>
                                    <div class="author align-items-center mt-3">
                                        <img src="{% static 'images/a2.jpg' %}" alt="" class="img-fluid rounded-circle" />
                                        <ul class="blog-meta">
                                            <li>
                                                <a href="author.html">{{i.submitedBy}}</a> </a>
                                            </li>
                                            <li class="meta-item blog-lesson">
                                                <span class="meta-value"> {{i.dateUploaded}} </span>. <span class="meta-value ml-2"><span class="fa fa-clock-o"></span> 1 min</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                </div>


            </div>
        </div>
    </div>

    <!-- <section class="-testimonials mt-xl-4" id="testimonials">
       
        <div class="testimonials pt-2 pb-5">
            <div class="container pb-lg-5">
                <div class="owl-testimonial owl-carousel owl-theme mb-md-0 mb-sm-5 mb-4">
                    {% for i in sliderContent %}
                    <div class="item">
                        <div class="row slider-info">
                            <div class="col-lg-8 message-info align-self">
                                <span class="label-blue mb-sm-4 mb-3">{{i.blog.category}}</span>
                                <h3 class="title-big mb-4">{{i.blog.title}}
                                </h3>
                                <div class="message-box">
                                    <p class="message">{{i.blog.content}}</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-8 img-circle mt-lg-0 mt-4">
                                <img src="{% static '/images/beauty.jpg' %}" class="img-fluid radius-image-full" alt="client image">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
    </section> -->


    <div class="-subscribe py-5">
        <div class="container py-lg-5 py-md-4">
            <div class="-subscribe-content text-center bg-clr-white py-md-5 py-2">
                <div class="py-5">
                    <h3 class="section-title-left mb-2">Subscribe to our newsletter!</h3>
                    <p class="mb-md-5 mb-4">We'll send you the best of our blog just once a month. We promise. </p>
                    <form action="subscribe" method="POST" class="subscribe"> {% csrf_token %}
                        <input type="email" class="subscribe_input" name="email" placeholder="Email address" required="">
                        <button class="btn btn-style btn-primary">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-28 block -->
    <section class="app-footer">
        <footer class="footer-28 py-5">
            <div class="footer-bg-layer">
                <div class="container py-lg-3">
                    <div class="row footer-top-28">
                        <div class="col-lg-4 footer-list-28 copy-right mb-lg-0 mb-sm-5 mt-sm-0 mt-4">
                            <a class="navbar-brand mb-3" href="index.html">
                                <span class="fa fa-newspaper-o"></span> NewsBlog</a>

                        </div>
                        <div class="col-lg-8 row">
                            <div class="col-sm-4 col-6 footer-list-28">
                                <h6 class="footer-title-28">Useful links</h6>
                                <ul>
                                    <li><a href="#categories">food blogs</a></li>
                                    <li><a href="#advertise">Advertise with us</a></li>
                                    <li><a href="#authors">Our Authors</a></li>
                                    <li><a href="contact.html">Get in touch</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-4 col-6 footer-list-28">
                                <h6 class="footer-title-28">Categories</h6>
                                <ul>
                                    <li><a href="beauty.html">Beauty</a></li>
                                    <li><a href="fashion.html">Fashion and Style</a></li>
                                    <li><a href="#food"> Food and Wellness</a></li>
                                    <li><a href="#lifestyle">Lifestyle</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-4 col-6 footer-list-28 mt-sm-0 mt-4">
                                <h6 class="footer-title-28">Social Media</h6>
                                <ul class="social-icons">
                                    <li class="facebook">
                                        <a href="#facebook"><span class="fa fa-facebook"></span> Facebook</a></li>
                                    <li class="twitter"> <a href="#twitter"><span class="fa fa-twitter"></span> Twitter</a></li>
                                    <li class="linkedin"> <a href="#linkedin"><span class="fa fa-linkedin"></span> Linkedin</a></li>
                                    <li class="dribbble"><a href="#dribbble"><span class="fa fa-dribbble"></span> Dribbble</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </footer>

        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fa fa-angle-up"></span>
  </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function() {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
    </section>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/theme-change.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script>
        $(function() {
            $('.navbar-toggler').click(function() {
                $('body').toggleClass('noscroll');
            })
        });
    </script>

    <script>
        $(document).ready(function() {
            $('.owl-testimonial').owlCarousel({
                loop: true,
                margin: 0,
                nav: true,
                responsiveClass: true,
                autoplay: false,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    480: {
                        items: 1,
                        nav: false
                    },
                    667: {
                        items: 1,
                        nav: true
                    },
                    1000: {
                        items: 1,
                        nav: true
                    }

                }
            })
        })
    </script>
    <script>
        $(document).ready(function() {
            $('.two').owlCarousel({
                loop: true,
                margin: 0,
                nav: true,
                responsiveClass: true,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    480: {
                        items: 1,
                        nav: false
                    },
                    667: {
                        items: 1,
                        nav: true
                    },
                    1000: {
                        items: 2,
                        nav: true
                    }
                }
            })
        })
    </script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% for i in messages %}
    <script>
        alert('{{i}}')
    </script>
    {% endfor %}
</body>

</html>